<section class="background_bg breadcrumb_section overlay_bg2 page-title-light" data-img-src="../assets/images/banner13.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <h1>公司概要</h1>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href=" /universal">主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">公司概要</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="about" class="parallax_bg"
    style="position: relative; background: transparent; overflow: hidden; z-index: 1;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="mb-4 mb-lg-0 animation animated fadeInLeft" data-animation="fadeInLeft"
                    data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
                    <img src=" ../assets/images/service-1.png" alt="about_img4" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 animation animated fadeInUp" data-animation="fadeInUp"
                data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
                <div class="heading_s1">
                    <span class="sub_title">Easy Group 株式会社</span>
                    <h1>about The Easy Group</h1>
                </div>
                <p>提高生产效率，降低客户成本，解决人才不足，架接国内海外，提供最先进的云测控解决方案，为全社会做出贡献。致力于用IoT、云计算、AI技术、贡献社会</p>
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <div class="list_style_3">
                            <ul>
                                <li>2017年6月成立</li>
                                <li>Responsive Design</li>
                                <li>Nice Parallax Effect</li>
                                <li>Easy to Customize</li>
                                <li>Retina Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="list_style_3">
                            <ul>
                                <li>Modern Framework</li>
                                <li>Full Documentation</li>
                                <li>Amazing Features</li>
                                <li>Pixel Perfect</li>
                                <li>unique Design</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <a href="#" class="btn btn-outline-default">Read More</a> -->
            </div>
        </div>
    </div>
</section>


<section class="cta_section_small background_bg blue_overlay_bg position-relative fixed_bg"
    data-img-src="../assets/images/cta_bg2.jpg">
    <div class="container">
        <div class="row align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <div class="col-md-8 text_white">
                <h2 class="">We always stay with our clients.</h2>
                <p class="mb-md-0">Perfection in service.</p>
            </div>
            <div class="col-md-4 text-md-right">
                <a href=" /universal/service/" class="btn btn-outline-white">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="small_pb">
    <div class="container">
        <div class="row justify-content-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <div class="col-md-3 col-sm-6 mb-lg-5 mb-4 text-center">
                <div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/service_img1.jpg" alt="service_img1" />
                    </div>
                    <div class="icon_box_content">
                        <h5>IOT解决方案</h5>
                        <p>硬件 软件 通信 云平台</p>
                        <!-- <a href=" /universal/" class="btn btn-sm btn-outline-black">Read more</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-lg-5 mb-4 text-center">
                <div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/service_img2.jpg" alt="service_img1" />
                    </div>
                    <div class="icon_box_content">
                        <h5>中日文化</h5>
                        <p>中日文化 各领域交流</p>
                        <!-- <a href=" /universal/" class="btn btn-sm btn-outline-black">Read more</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-lg-5 mb-4 text-center">
                <div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/service_img3.jpg" alt="service_img1" />
                    </div>
                    <div class="icon_box_content">
                        <h5>商业模式</h5>
                        <p>互联网 共享模式</p>
                        <!-- <a href=" /universal/" class="btn btn-sm btn-outline-black">Read more</a> -->
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-lg-5 mb-4 text-center">
                <div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">
                        <img src="../assets/images/service_img2.jpg" alt="service_img1" />
                    </div>
                    <div class="icon_box_content">
                        <h5>营销方案</h5>
                        <p>提供产品 服务 B2B EC方式</p>
                        <!-- <a href=" /universal/" class="btn btn-sm btn-outline-black">Read more</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="light_gray_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 animation animated fadeInUp" data-animation="fadeInUp"
                data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
                <div class="heading_s2">
                    <span class="sub_title">Contact Us</span>
                    <h2>Get In touch</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id
                    varius nunc id varius nunc.</p>
                <ul class="contact_info contact_info_style1 list_none">
                    <li>
                        <span class="ti-location-pin"></span>
                        <address>123 Street, New South London , UK</address>
                    </li>
                    <li>
                        <span class="ti-email"></span>
                        <a href="mailto:info@sitename.com">info@sitename.com</a>
                    </li>
                    <li>
                        <span class="ti-mobile"></span>
                        <p>+ 457 789 789 65</p>
                    </li>
                </ul>
                <!-- <span id="map" class="btn btn-outline-black mt-3">View Map</span> -->
            </div>
            <div class="col-lg-8 col-md-6 animation animated fadeInUp" data-animation="fadeInUp"
                data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                <div class="clearfix large_divider d-none d-md-block"></div>
                <div class="clearfix medium_divider d-xl-none"></div>
                <!-- <div class="field_form">
                    <form method="post" name="enq">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input required="required" placeholder="Enter Name *" id="first-name"
                                    class="form-control" name="name" type="text">
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="required" placeholder="Enter Email *" id="email" class="form-control"
                                    name="email" type="email">
                            </div>
                            <div class="form-group col-lg-6">
                                <input required="required" placeholder="Enter Phone No. *" id="phone"
                                    class="form-control" name="phone" type="phone">
                            </div>
                            <div class="form-group col-lg-6">
                                <input placeholder="Enter Subject" id="subject" class="form-control" name="subject"
                                    type="subject">
                            </div>
                            <div class="form-group col-lg-12">
                                <textarea required="required" placeholder="Message *" id="description"
                                    class="form-control" name="message" rows="4"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" title="Submit Your Message!" class="btn btn-default"
                                    id="submitButton" name="submit" value="Submit">Submit</button>
                            </div>
                            <div class="col-lg-12">
                                <div id="alert-msg" class="alert-msg text-center"></div>
                            </div>
                        </div>
                    </form>
                </div> -->
                <div style="display: block;" class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193229.77301255226!2d-74.05531241936525!3d40.823236500441624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2f613438663b5%3A0xce20073c8862af08!2sW+123rd+St%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1533565007513"
                        frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</section>