<section class="background_bg breadcrumb_section overlay_bg2 page-title-light" data-img-src="../assets/images/banner11.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <h1>开发者</h1>
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href=" /universal">主页</a></li>
                    <li class="breadcrumb-item active" aria-current="page">开发者</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
        	<div class="col-md-6 text-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
                <div class="heading_s3 mb-md-3 text-center">
                    <h2>成为开发者</h2>
                </div>
                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 text-center">
            	<div class="icon_box icon_box_style_10 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
                    <div class="box_icon mb-3">	
                        <img src="../assets/images/icon1.png" alt="icon1">
                    </div>
                    <div class="icon_box_content">
                        <h5>开发者文档</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-outline-black">Get Start</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
            	<div class="icon_box icon_box_style_10 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.3s" style="animation-delay: 0.3s; opacity: 1;">
                    <div class="box_icon mb-3">	
                        <img src="../assets/images/icon2.png" alt="icon2">
                    </div>
                    <div class="icon_box_content">
                        <h5>客户端程序下载</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-outline-black">Download</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
            	<div class="icon_box icon_box_style_10 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                    <div class="box_icon mb-3">	
                        <img src="../assets/images/icon5.png" alt="icon5">
                    </div>
                    <div class="icon_box_content">
                        <h5>个性化支持</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-outline-black">FAQ</a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-sm-6 text-center">
            	<div class="icon_box icon_box_style_10 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                    <div class="box_icon mb-3">	
                        <img src="/assets/images/icon3.png" alt="icon3">
                    </div>
                    <div class="icon_box_content">
                        <h5>Parallax Effact</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-outline-black">Read More</a>
                    </div>
                 </div>
            </div>
        	<div class="col-lg-4 col-sm-6 text-center">
            	<div class="icon_box icon_box_style_10 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.5s" style="animation-delay: 0.5s; opacity: 1;">
                    <div class="box_icon mb-3">	
                        <img src="/assets/images/icon4.png" alt="icon4">
                    </div>
                    <div class="icon_box_content">
                        <h5>Html5 &amp; Css3</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-outline-black">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 text-center">
            	<div class="icon_box icon_box_style_10 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.7s" style="animation-delay: 0.7s; opacity: 1;">
                    <div class="box_icon mb-3">	
                        <img src="/assets/images/icon6.png" alt="icon6">
                    </div>
                    <div class="icon_box_content">
                        <h5>Easy To Customize</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-outline-black">Read More</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="counter_wrap gray_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6">
                <div class="box_counter counter_style3 counter_dark animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
                    <img src="../assets/images/awards.png" alt="image">
                    <h3 class="counter_text"><span class="counter">197</span></h3>
                    <p>Get Awards</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="box_counter counter_style3 counter_dark animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
                    <img src="../assets/images/staffs.png" alt="image">
                    <h3 class="counter_text"><span class="counter">200</span>+</h3>
                    <p>Amazing  Staffs</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="box_counter counter_style3 counter_dark animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.3s" style="animation-delay: 0.3s; opacity: 1;">
                    <img src="../assets/images/project.png" alt="image">
                    <h3 class="counter_text"><span class="counter">1200</span>+</h3>
                    <p>Project Complete</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-6">
                <div class="box_counter counter_style3 counter_dark animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                    <img src="../assets/images/clients.png" alt="image">
                    <h3 class="counter_text"><span class="counter">1500</span>+</h3>
                    <p>Happy Clients</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="small_pb">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-md-6 text-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
            	<div class="heading_s3 mb-md-3 text-center">
                	<h2>Expert Supporter</h2>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cleafix small_divider"></div>
            </div>
        </div>
        <div class="row animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
        	<div class="col-lg-3 col-sm-6 mb-lg-5 mb-sm-4 pb-sm-1 pb-3 text-center">
            	<div class="team_box light_gray_bg">
                	<div class="team_img">
                    	<img src="../assets/images/team1.jpg" alt="team1">
                    </div>
                    <div class="team_title">
                        <h5>Alea Brooks</h5>
                        <span>Project Engineer</span>
                    </div>
                    <!-- <ul class="list_none social_icons border_social">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-5 mb-sm-4 pb-sm-1 pb-3 text-center">
            	<div class="team_box light_gray_bg">
                	<div class="team_img">
                    	<img src="../assets/images/team2.jpg" alt="team2">
                    </div>
                    <div class="team_title">
                        <h5>Grace Wong</h5>
                        <span>Project Engineer</span>
                    </div>
                    <!-- <ul class="list_none social_icons border_social">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-5 mb-sm-4 pb-sm-1 pb-3 text-center">
            	<div class="team_box light_gray_bg">
                	<div class="team_img">
                    	<img src="../assets/images/team3.jpg" alt="team3">
                    </div>
                    <div class="team_title">
                        <h5>Danny Miller</h5>
                        <span>Project Engineer</span>
                    </div>
                    <!-- <ul class="list_none social_icons border_social">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-5 mb-sm-4 pb-sm-1 pb-3 text-center">
            	<div class="team_box light_gray_bg">
                	<div class="team_img">
                    	<img src="../assets/images/team4.jpg" alt="team4">
                    </div>
                    <div class="team_title">
                        <h5>james white</h5>
                        <span>Project Engineer</span>
                    </div>
                    <!-- <ul class="list_none social_icons border_social">
                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</section>
