<section class="background_bg breadcrumb_section overlay_bg2 page-title-light" data-img-src="../assets/images/bc-1.png">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <h1>产品介绍</h1>
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href=" /universal">主页</a></li>
                    <li class="breadcrumb-item active" aria-current="page">产品介绍</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
 
<section id="about" class="parallax_bg" data-parallax-bg-image="assets/images/bubble.png" style="position: relative; background: transparent; overflow: hidden; z-index: 1;"><div class="parallax-inner" style="position: absolute; background-image: url(&quot;assets/images/bubble.png&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 2031px; height: 936px; transform: translate3d(0px, -129px, 0px); transition: transform 100ms ease 0s; z-index: -1;"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-12 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
                <div class="heading_s1"> 
                  <h1>IOT云测控系统</h1>
                </div>
                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                <div class="row mb-4">
                	<div class="col-sm-6">
                    	<div class="list_style_3">
                            <ul>
                                <li>Multiple header layouts</li>
                                <li>Responsive Design</li>
                                <li>Nice Parallax Effect</li>
                                <li>Easy to Customize</li>
                                <li>Retina Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    	<div class="list_style_3">
                            <ul>
                                <li>Modern Framework</li>
                                <li>Full Documentation</li>
                                <li>Amazing Features</li>
                                <li>Pixel Perfect</li>
                                <li>unique Design</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <a href="#" class="btn btn-outline-default">Read More</a>	 -->
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12"> 
                <div class="mb-4 mb-lg-0 animation animated fadeInLeft" data-animation="fadeInLeft" data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
                    <img src="../assets/images/broker-cluster.png" alt="aboutimg"> 
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="gray_bg small_pb">
	<div class="container">
    	<div class="row justify-content-center">
        	<div class="col-lg-6 col-md-9 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
            	<div class="heading_s1 text-center">
                	<h2>产品特性</h2>
                </div>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
            </div>
        </div>
        <div class="row">
        	<div class="col-12">	
            	<div class="clearfix small_divider"></div>
            </div>
        </div>
    	<div class="row animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.1s" style="animation-delay: 0.1s; opacity: 1;">
        	<div class="col-md-4 col-sm-6 mb-lg-5 mb-3 text-center">
            	<div class="icon_box icon_box_style_1">
                    <div class="box_icon mb-3">	
                        <i class="icon icon-display"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>设备云接入</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-lg-5 mb-3 text-center">
            	<div class="icon_box icon_box_style_1">
                    <div class="box_icon mb-3">	
                        <i class="icon icon-eye"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>可视化的操作</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-lg-5 mb-3 text-center">
            	<div class="icon_box icon_box_style_1">
                    <div class="box_icon mb-3">	
                        <i class="icon icon-equalizer2"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>系统集成</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                 </div>
            </div>
        	<div class="col-md-4 col-sm-6 mb-lg-5 mb-3 text-center">
            	<div class="icon_box icon_box_style_1">
                    <div class="box_icon mb-3">	
                        <i class="icon icon-embed2"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>命令管理</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-lg-5 mb-3 text-center">
            	<div class="icon_box icon_box_style_1">
                    <div class="box_icon mb-3">	
                        <i class="icon icon-lifebuoy"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>驱动管理</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-lg-5 mb-3 text-center">
            	<div class="icon_box icon_box_style_1">
                    <div class="box_icon mb-3">	
                        <i class="icon icon-cog"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>个性化定制</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta_section_small background_bg blue_overlay_bg position-relative fixed_bg" data-img-src=" /universal/assets/images/cta_bg2.jpg">
    <div class="container">
        <div class="row align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <div class="col-md-8 text_white">
                <h2 class="">应用场景.</h2>
                <p class="mb-md-0">基于以下方式来实现传统硬件设备与云系统的集成.</p>
            </div>
            <div class="col-md-4 text-md-right">    
                <a href=" /universal/service/" class="btn btn-outline-white">Contact Us</a>
            </div>
        </div>
    </div>
</section>



<section class="small_pb overflow_hide">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class=" about_video_img mb-4 mb-lg-0">
                    <img src="../assets/images/service-1.png" alt="about_img4"/>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                <div class="heading_s3"> 
                  <span class="sub_title">Easy Group株式会社</span>
                  <h3>Easy Group</h3> 
                </div>
                <p>4G,5G时代,少子老龄化、原材料价格上涨、生产周期变短、跨界融合、颠覆式创新、定制化</p>
                <p>测试业界首次，World's First IoT-cloud Platform</p>
                <div class="list_style_4 color_blue mb-3">
                    <ul>
                        <li>Easy=简单实现</li>
                        <li>无时空限制</li>
                        <li>谁都能使用/开发</li>
                        <li>人工智能，工业4.0</li>
                    </ul>
                </div>
                <a href=" /universal/service" class="btn btn-black">Read More</a>
            </div>
        </div>
    </div>
</section>

<!-- <section class="small_pt small_pb">
    <div class="container">
        <div class="row no-gutters animation" data-animation="fadeInUp" data-animation-delay="0.2s">
            <div class="col-md-3 mb-md-5 mb-4">
                <div class="pricing_box">
                    <div class="pr_title light_gray_bg">
                        <h4>硬件IoT化</h4>
                    </div>
                    <div class="pr_content">
                        <ul class="list_none pr_list">
                            <li>信息登陆</li>
                            <li>唯一识别ID</li>
                            <li>通讯协议设计</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-md-5 mb-4">
                <div class="pricing_box">
                    <div class="pr_title light_gray_bg">
                        <h4>可视化 过程,结果,编程</h4>
                    </div>
                    <div class="pr_content">
                        <ul class="list_none pr_list">
                            <li>可视化过程</li>
                            <li>可视化结果</li>
                            <li>可视化编程</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-md-5 mb-4">
                <div class="pricing_box highlight_box">
                    <div class="pr_title bg_blue light_gray_bg">
                        <h4>IoT解决方案 数据,控制,分析</h4>
                    </div>
                    <div class="pr_content">
                        <ul class="list_none pr_list">
                            <li>监控系统</li>
                            <li>控制系统</li>
                            <li>IoT系统</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-md-5 mb-4">
                <div class="pricing_box">
                    <div class="pr_title light_gray_bg">
                        <h4>AI虚拟化测试 标准,指导</h4>
                    </div>
                    <div class="pr_content">
                        <ul class="list_none pr_list">
                            <li>大数据分析</li>
                            <li>仿真计算</li>
                            <li>虚拟实验</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
