<section class="background_bg breadcrumb_section overlay_bg2 page-title-light" data-img-src="../assets/images/about_img11.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="page-title">
                    <h1>解决方案</h1>
                </div>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item"><a href="/">主页</a></li>
                    <li class="breadcrumb-item active" aria-current="page">解决方案</li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
 
<section id="about" class="overflow_hide">
    <div class="container">
        <div class="row align-items-center">
        	<div class="col-md-6 col-sm-12 mb-4 mb-lg-0 animation animated fadeInLeft" data-animation="fadeInLeft" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
            	<div class="fancy_style">
            		<img src="../assets/images/about_img5.jpg" alt="about_img5">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 animation animated fadeInRight" data-animation="fadeInRight" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                <div class="heading_s2"> 
                  <span class="sub_title">Lorem Ipsum Dolor</span>
                  <h2>About The Anger</h2>
                </div>
                <p>Nam eget neque pellentesque, efficitur neque at, ornare orci. Morbi convallis a eros fermentum rhoncus. Morbi convallis a eros fermentum rhoncus lorem. Vestibulum ligula orci, volutpat id aliquet eget, consectetur eget ante. Duis pharetra for nec rhoncus felis sagittis nec amet ultricies lorem.</p>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.Iipsum dolor sit amet, consectetur adipiscing elitllus blandit massa enim.</p>
                <!-- <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video_popup"><span class="rounded_icon"><i class="ion-android-arrow-dropright-circle"></i></span> How it Works</a> -->
            </div>
        </div>
    </div>
</section>

<section class="cta_section_small background_bg blue_overlay_bg position-relative fixed_bg" data-img-src="assets/images/cta_bg2.jpg" style="background: url(&quot;assets/images/cta_bg2.jpg&quot;) center center / cover;">
	<div class="container">
    	<div class="row align-items-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
            <div class="col-md-8 text_white">
                <h2 class="">技术支持.</h2>
                <p class="mb-md-0">针对不同领域，不同的业务场景，提供定制化的个人性的解决方案.</p>
            </div>
            <div class="col-md-4 text-md-right">	
                <a href="#" class="btn btn-outline-white">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="small_pb">
	<div class="container">
    	<div class="row justify-content-center animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
        	<div class="col-md-4 col-sm-6 mb-lg-5 mb-4 text-center">
            	<div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">	
                        <img src="../assets/images/service_img1.jpg" alt="service_img1">
                    </div>
                    <div class="icon_box_content">
                        <h5>汽车领域</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-sm btn-outline-black">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-lg-5 mb-4 text-center">
            	<div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">	
                        <img src="../assets/images/service_img2.jpg" alt="service_img2">
                    </div>
                    <div class="icon_box_content">
                        <h5>能源领域</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-sm btn-outline-black">Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-lg-5 mb-4 text-center">
            	<div class="icon_box icon_box_style_5">
                    <div class="box_icon mb-3">	
                        <img src="../assets/images/service_img3.jpg" alt="service_img3">
                    </div>
                    <div class="icon_box_content">
                        <h5>蓄电池相关</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        <a href="#" class="btn btn-sm btn-outline-black">Read more</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="small_pb overflow_hide">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
            	<div class="overlay_bg about_video_img mb-4 mb-lg-0">
            		<img src="/universal/assets/images/about_img4.jpg" alt="about_img4">
                    <a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video_popup video_play"><img class="bounce_img" src="assets/images/play-icon.png" alt="play-icon"></a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                <div class="heading_s3"> 
                  <span class="sub_title">Lorem Ipsum Dolor consectetur adipiscing</span>
                  <h3>Showcase your services in a stunning way!</h3> 
                </div>
                <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
                <div class="list_style_4 color_blue mb-3">
                    <ul>
                        <li>Deep Customization Process</li>
                        <li>Technologies And Innovations consultant</li>
                        <li>Secured Transactions consultant</li>
                        <li>Unique Sales Methodoligies</li>
                    </ul>
                </div>
                <a href="#" class="btn btn-black">Read More</a>
            </div>
        </div>
    </div>
</section> -->