{{ define "main" }}
<script type="text/javascript">
    console.log(window.location.pathname)
</script>

<section class="banner_section background_bg full_screen parallax_bg" data-parallax-speed="0.5" data-parallax-bg-image="/assets/images/banner6.jpg" style="position: relative; background: transparent; overflow: hidden; z-index: 1;"><div class="parallax-inner" style="position: absolute; background-image: url(&quot;assets/images/banner6.jpg&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 1447px; height: 954px; transform: translate3d(0px, -259px, 0px); transition: transform 100ms ease 0s; z-index: -1;"></div>
    <div class="banner_slide_content">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row justify-content-center">
                <div class="col-md-9 col-sm-12">
                    <div class="banner_content animation animated fadeIn" data-animation="fadeIn" data-animation-delay="0.8s" style="animation-delay: 0.8s; opacity: 1;">
                        <div id="typed-strings" class="d-none" style="display: none;">
                            <b>Service.</b> <b>Easy.</b> <b>Fast.</b> <b>Flexible.</b> 
                        </div>
                        <h2 class="animation animated fadeInLeft" data-animation="fadeInLeft" data-animation-delay="1s" style="animation-delay: 1s; opacity: 1;">
                            Perfection In <span id="typed-text" class="text_default"></span>
                            <!-- <span class="typed-cursor">|</span> -->
                        </h2>
                        <p class="animation my-4 animated fadeInLeft" data-animation="fadeInLeft" data-animation-delay="1.5s" style="animation-delay: 1.5s; opacity: 1;">Lorem is simply text of the printing and typesetting industry.</p>
                        <a class="btn btn-outline-black animation animated fadeInLeft" href="#" data-animation="fadeInLeft" data-animation-delay="1.8s" style="animation-delay: 1.8s; opacity: 1;">Learn More</a>
                    </div>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
</section>

<section id="about" class="small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-3 mb-lg-0 animation" data-animation="fadeInUp" data-animation-delay="0.2s">
                <div class="heading_s2"> 
                  <!-- <span class="sub_title">Easy Group 株式会社</span> -->
                  <h2>IOT云测试平台</h2>
                </div>
                <p>提高生产效率，降低客户成本，解决人才不足，架接国内海外，提供最先进的云测控解决方案，为全社会做出贡献。</p>
                <p>致力于用IoT、云计算、AI技术、贡献社会</p>
                <a href="index.html#" class="btn btn-default">Read More</a>
            </div>
            <div class="col-lg-4 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">
                <div class="icon_box icon_box_style_4 mt-3">
                    <div class="box_icon">  
                        <i class="icon icon-display"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>平台一体化建设</h5>
                        <p>快速高效测控平台 <br>可视化系统编程</p>
                        <br>
                    </div>
                </div>
                <div class="icon_box icon_box_style_4 mt-3">
                    <div class="box_icon">  
                        <i class="icon icon-eye"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>解决方案</h5>
                        <p>测试技术 <br> 全球市场 <br> 测试系统技术的开发 <br> 挖掘附加价值 <br></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 animation" data-animation="fadeInUp" data-animation-delay="0.5s">
                <div class="icon_box icon_box_style_4 mt-3">
                    <div class="box_icon">  
                        <i class="icon icon-equalizer2"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>海量设备接入</h5>
                        <p>硬件设备云接入<br> 驱动与命令管理</p>
                        <br>
                    </div>
                </div>
                <div class="icon_box icon_box_style_4 mt-3">
                    <div class="box_icon">  
                        <i class="icon icon-embed2"></i>
                    </div>
                    <div class="icon_box_content">
                        <h5>生命周期管理</h5>
                        <p>智能管理与测试<br> 大数据深度学习<br> AI测试<br> 虚拟仪器与测试<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="small_pt pb-0 overflow_hide">
    <div class="container-fluid">
        <div class="content_slider">
            <div class="row slider_center">
                <div class="slider_images col-lg-6 col-md-12 col-sm-12 p-0 sm-height-300 xs-height-200 animation animated fadeInLeft" data-animation="fadeInLeft" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
                    <div class="image h-100 background_bg" data-img-src="assets/images/responsive_img.jpg" data-key="responsive" style="background: url(&quot;assets/images/responsive_img.jpg&quot;) center center / cover; display: block;"> </div>
                    <div class="image h-100 background_bg" data-img-src="assets/images/retina_img.jpg" data-key="retina" style="background: url(&quot;assets/images/retina_img.jpg&quot;) center center / cover;"> </div>
                    <div class="image h-100 background_bg" data-img-src="assets/images/parallax_img.jpg" data-key="parallax" style="background: url(&quot;assets/images/parallax_img.jpg&quot;) center center / cover;"><a href="https://www.youtube.com/watch?v=7e90gBu4pas" class="video_popup video_play"><img class="bounce_img" src="assets/images/play-icon.png" alt="play-icon"></a> </div>
                    <div class="image h-100 background_bg" data-img-src="assets/images/expert_img.jpg" data-key="expert" style="background: url(&quot;assets/images/expert_img.jpg&quot;) center center / cover;"> </div>
                </div>
                <div class="content_box col-lg-6 col-md-12 col-sm-12 p-0 animation animated fadeInRight" data-animation="fadeInRight" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                	<div class="padding_eight_all light_gray_bg content_wrap">
                        <div class="descriptions_wrap" style="height: 196px;">
                            <div class="description" data-key="responsive" style="display: block;">
                                <div class="heading_s2"> 
                                    <h2>Responsive Layout</h2>
                                </div>
                            <p>Suspendisse potenti. Nullam pharetra sed felis non sodales. Nam eleifend, arcu sed imperdiet euismod, augue eros consequat tortor, ut convallis eros. Aenean a ipsum vel eros elementum efficitur.</p>
                            <a class="btn btn-outline-black" href="#">Read More <i class="ion-ios-arrow-thin-right"></i></a>
                        </div>
                            <div class="description" data-key="retina">
                                <div class="heading_s2"> 
                                    <h2>Retina ready</h2>
                                </div>
                            <p>Etiam id ante est. Aenean pellentesque quam vel purus tincidunt tristique. Integer arcu nibh, tempus id ultricies ut, vulputate nec nunc. Etiam elit elit, commodo at interdum sed at imperdiet risus.</p>
                            <a class="btn btn-outline-black" href="#">Read More <i class="ion-ios-arrow-thin-right"></i></a>
                        </div>
                        <div class="description" data-key="parallax">
                            <div class="heading_s2"> 
                                <h2>Parallax Effact</h2>
                            </div>
                            <p>Quisque pharetra lorem quis libero ornare fringilla. Maecenas nisl justo, suscipit vel tortor at, varius auctor erat. Maecenas efficitur felis nec arcu volutpat lacinia vulputate nec nunc. Etiam elit elit.</p>
                            <a class="btn btn-outline-black" href="#">read More <i class="ion-ios-arrow-thin-right"></i></a>
                        </div>
                        <div class="description" data-key="expert">
                            <div class="heading_s2"> 
                                <h2>Expert Support</h2>
                            </div>
                            <p>Proin et posuere dolor, a finibus tellus. Phasellus suscipit gravida magna. Nam posuere nisi eu ex sodales, sit amet dictum turpis maximus. Maecenas sodales vehicula tellus, at imperdiet risus.</p>
                            <a class="btn btn-outline-black" href="#">read More <i class="ion-ios-arrow-thin-right"></i></a>
                        </div>
                        </div>
                        <ul class="tabs slider_tab d-sm-flex justify-content-between list_none text-center mt-3 mt-md-5">
                            <li class="active" data-key="responsive"> <i class="ti-desktop"></i> <span>Responsive Layout</span> </li>
                            <li data-key="retina"> <i class="ti-eye"></i> <span>Retina ready</span> </li>
                            <li data-key="parallax"> <i class="ti-layers-alt"></i> <span>Parallax Effact</span> </li>
                            <li data-key="expert"> <i class="ti-settings"></i> <span>Expert Support</span> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parallax_bg" data-parallax-bg-image="assets/images/pattern_bg3.png" style="position: relative; background: transparent; overflow: hidden; z-index: 1;"><div class="parallax-inner" style="position: absolute; background-image: url(&quot;assets/images/pattern_bg3.png&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover; width: 2031px; height: 960px; transform: translate3d(0px, -190.313px, 0px); transition: transform 100ms ease 0s; z-index: -1;"></div>
	<div class="container">
    	<div class="row">
        	<div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.2s" style="animation-delay: 0.2s; opacity: 1;">
            	<div class="heading_s2 text-center">
                	<h2>Skill Process</h2>
                </div>
                <p class="text-center">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="cleafix small_divider"></div>
            </div>
        </div>
    	<div class="row align-items-center">
            <div class="col-lg-3 col-sm-6 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.4s" style="animation-delay: 0.4s; opacity: 1;">
                <div class="list_style_3">
                    <ul>
                        <li>Multiple header layouts</li>
                        <li>Responsive Design</li>
                        <li>Nice Parallax Effect</li>
                        <li>Easy to Customize</li>
                        <li>Retina Ready</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 animation animated fadeInUp" data-animation="fadeInUp" data-animation-delay="0.6s" style="animation-delay: 0.6s; opacity: 1;">
                <div class="list_style_3">
                    <ul>
                        <li>Modern Framework</li>
                        <li>Full Documentation</li>
                        <li>Amazing Features</li>
                        <li>Pixel Perfect</li>
                        <li>Unique Design</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 mt-3 mt-md-0 animation animated fadeInRight" data-animation="fadeInRight" data-animation-delay="0.8s" style="animation-delay: 0.8s; opacity: 1;">
                <div class="skill_content">
                    <div class="progrees_bar_text">
                        <b>Web Hosting</b>
                    </div>
                    <div class="progress">
                      <div class="count_pr" data-percent="70" style="left: 70%;"><span class="counter">70</span>%</div>
                      <div class="progress-bar d-block" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                      </div>
                   </div>
                </div>
                <div class="skill_content">
                    <div class="progrees_bar_text">
                        <b>Development</b>
                    </div>
                    <div class="progress">
                    	<div class="count_pr" data-percent="50" style="left: 50%;"><span class="counter">50</span>%</div>
                      <div class="progress-bar d-block" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                      </div>
                   </div>
                </div>
                <div class="skill_content">
                    <div class="progrees_bar_text">
                        <b>Web Design</b>
                    </div>
                    <div class="progress">
                    <div class="count_pr" data-percent="80" style="left: 80%;"><span class="counter">80</span>%</div>
                      <div class="progress-bar d-block" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                      </div>
                   </div>
                </div>
                <div class="skill_content">
                    <div class="progrees_bar_text">
                        <b>Marketing</b>
                    </div>
                    <div class="progress">
                    <div class="count_pr" data-percent="40" style="left: 40%;"><span class="counter">40</span>%</div>
                      <div class="progress-bar d-block" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                      </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}